# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\计算机视觉\0mine-002-手部动作分类\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
